<!-- <div style="height: 300px; display: flex">
  <h1 style="margin: auto">Dashboard</h1>
</div> -->
<div _ngcontent-gbq-c61="" class="grid p-nogutter floatlabel-demo">
  <div _ngcontent-gbq-c61="" class="card p-fluid" style="width: 100%">
    <h5 _ngcontent-gbq-c61="">Float Label</h5>
    <p _ngcontent-gbq-c61="">
      All input text components support floating labels by adding (<mark _ngcontent-gbq-c61="">.p-float-label</mark>) to
      wrapper class.
    </p>
    <div _ngcontent-gbq-c61="" class="grid">
      <div _ngcontent-gbq-c61="" class="col-6">
        <div _ngcontent-gbq-c61="" class="p-field">
          <span _ngcontent-gbq-c61="" class="p-float-label"
            ><input
              _ngcontent-gbq-c61=""
              type="text"
              id="inputtext"
              pinputtext=""
              class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
            /><label _ngcontent-gbq-c61="" for="inputtext">InputText</label></span
          >
        </div>
      </div>
      <div _ngcontent-gbq-c61="" class="col-6">
        <div _ngcontent-gbq-c61="" class="p-field">
          <div _ngcontent-gbq-c61="" class="p-inputgroup">
            <span _ngcontent-gbq-c61="" class="p-inputgroup-addon"
              ><i _ngcontent-gbq-c61="" class="pi pi-user"></i></span
            ><span _ngcontent-gbq-c61="" class="p-float-label"
              ><input
                _ngcontent-gbq-c61=""
                type="text"
                id="inputgroup"
                pinputtext=""
                class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"
              /><label _ngcontent-gbq-c61="" for="inputgroup">InputGroup</label></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
