<div class="card">
  <div class="grid">
    <div class="col-3">
      <span class="p-float-label">
        <input inputId="name" type="text" class="p-inputtext-sm" [(ngModel)]="params.searchCode" pInputText />
        <label for="name">Mã danh mục tin tức</label>
      </span>
    </div>
    <div class="col-3">
      <span class="p-float-label">
        <input inputId="name" type="text" class="p-inputtext-sm" [(ngModel)]="params.searchName" pInputText />
        <label for="name">Tên danh mục tin tức</label>
      </span>
    </div>

    <div class="col-3">
      <span class="p-float-label">
        <p-dropdown
          [options]="stateData!.listStatus"
          class="p-inputtext-sm"
          [(ngModel)]="params.status"
          optionLabel="name"
          optionValue="value"
          [autoDisplayFirst]="false"
        >
        </p-dropdown>
        <label for="icon">Trạng thái</label>
      </span>
    </div>
  </div>
  <p-toolbar styleClass="px-0 pt-0">
    <div class="p-toolbar-group-left">
      <div class="p-field">
        <button pButton (click)="search()" icon="pi pi-search" pRipple type="button" label="Tìm kiếm"></button>
        <button  pButton pRipple label="Export" icon="pi pi-download" class="ml-2"></button>
        <p-button (click)="onReset()" icon="pi pi-replay" class="ml-2"></p-button>
      </div>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton  label="New" icon="pi pi-plus" class="mr-2"></button>
    </div>
  </p-toolbar>
  <p-table [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>Mã loại tin tức</th>
        <th>Tên tin tức</th>
        <th>Ngày tạo</th>

        <th>Trạng thái</th>
        <th style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ item.newCategoryCode }}</td>
        <td>{{ item.newCategoryName }}</td>
        <td>{{ item.createdate | date: 'dd/MM/yyyy' }}</td>

        <td>
          <p-inputSwitch [readonly]="true" [(ngModel)]="item.status"></p-inputSwitch>
        </td>
        <td style="width: 100px" alignFrozen="right" pFrozenColumn>
          <span class="pointer p-mr-2" >
            <em class="las la-eye"></em>
          </span>
          <span class="pointer p-mr-2" (click)="viewEdit(item.newCategoryId)">
            <em class="las la-pen"></em>
          </span>
          <span class="pointer" (click)="deleteItem(item.newCategoryId)">
            <em class="las la-trash-alt"></em>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    [showCurrentPageReport]="true"
    [rows]="dataTable!.size"
    [totalRecords]="dataTable!.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"
    (onPageChange)="pageChange($event)"
  ></p-paginator>
</div>
